@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
}
/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}

body, h1, h2, h3, h4, h5, h6, p {
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
}

.top-bar {
    background: none repeat scroll 0 0 #13456b;
}

.top-bar-section li:not(.has-form) a:hover:not(.button) {
    background-color: #2285A2;
    transition: background-color 300ms ease-out 0s;
}
.top-bar-section li:not(.has-form) a:not(.button) {
    background-color: #13456b;
}

#homepage-hero {
    background-color: #235c99;
    height: 440px;
    padding: 100px 20px 0;
    position: relative;
    text-align: left;
    color: white !important;
}

#blurb {
    position: relative;
    left: 1em;
}

#homepage-hero h1, h2, h3 {
    color: white !important;
}

#homepage-hero > .row {
    margin: 0 auto;
}

#homepage-hero > button, .button {
    background-color: white;
    border: medium none;
    color: #13456b;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 1.25rem  !important;
    font-weight: bold !important;
    line-height: normal;
    margin: 1rem 0 1.25rem;
    padding: 1rem 1.5rem 1rem  !important;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color 300ms ease-out 0s;
    border-radius: 2px;
}

.highlights {
    position: absolute;
    top: -3em;
    right: 3em;
    width: 250px;
}

.highlights-content-wrapper {
    display: table;
    width: 100%;
}

.highlights-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.highlights-content span.icon {
    font-size: 10em;
}

.githubissues {
    background: none repeat scroll 0 0 #13456B;
}

.githubissues h4 {
    color: #FFFFFF;
    float: left;
    font-size: 14px;
    opacity: 0.7;
    margin-top: 28px;
}

.githubissues span, #github #github a {
    color: #FFFFFF;
    font-size: 1.2rem;
}

#github span.date {
    font-size: 13px;
}

.githubissues a.commit {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    opacity: 0.7;
    word-wrap: break-word;
}

.githubissues a.button {
    float: right;
    font-size: 14px;
}

p.commit {
    color: white;
    margin-top: 30px;
}